<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
   Keranjang Belanja
  </ion-title>
</ion-toolbar>
</ion-header>
 
  <ion-content>
  
    <div class="content">

      <ion-item>
          <ion-checkbox slot="end" value="xxx">
          </ion-checkbox>
          <div class="produk">
            <div class="thumbnail">
              <img src="http://cdn.elevenia.co.id/g/3/8/4/1/3/7/25384137_A1.jpg">
            </div>
            <h3>Sepatu Specs Running Dual Enduro</h3>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="primary">Rp. 400.000</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="success">Beli</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-item>

        <ion-item>
            <ion-checkbox slot="end" value="xxx">
            </ion-checkbox>
            <div class="produk">
              <div class="thumbnail">
                <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2018/4/16/1897109/1897109_081d09c2-78a9-4027-9093-5e9599800791_2048_2048.jpg">
              </div>
              <h3>Sepatu Specs Running Overdrive</h3>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary">Rp. 450.000</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button color="success">Beli</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-item>

          <ion-item>
              <ion-checkbox slot="end" value="xxx">
              </ion-checkbox>
              <div class="produk">
                <div class="thumbnail">
                  <img src="https://cf.shopee.co.id/file/b75f8facd1a62e8a7008c216fdef6e99">
                </div>
                <h3>Sepatu Specs Running Sigma</h3>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button color="primary">Rp. 350.000</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button color="success">Beli</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-item>
        
    </div>
  
    <div class="buy-all">
      <ion-button color="primary" expand="block"> Beli</ion-button>
    </div>
  
  </ion-content>