input[type=text]{margin-top: 20px; width: 100%; line-height: 28px; background-color: white; border: solid #ddd 1px; color: black; border-radius: 3px;}
.container{margin: 20px;padding: 10px; background: white}
ion-content {--background: #eee}