<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tambah Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
<input type="text" name="namaproduk" id="namaproduk" placeholder="Nama Produk..." value="" maxlength="64"><br>
<input type="text" name="hargaproduk" id="hargaproduk" placeholder="Harga Produk..." value="" maxlength="64"><br>
<input type="text" name="deskripsiproduk" id="deskripsiproduk" placeholder="Deskripsi Produk..." value="" maxlength="256"><br>
<input type="text" name="stokproduk" id="stokproduk" placeholder="Stok Produk..." value="" maxlength="64"><br>
<ion-button color= "primary">Tambah Gambar</ion-button>
<ion-button color= "primary" expand="block">Submit</ion-button>
</div>

</ion-content>
