ion-content{
    --background: none; 
    background-image: url(https://wallpapercave.com/wp/wp3254956.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0 0 0;
}

ion-item {margin-bottom: 10px;opacity: 0.8}
ion-list {opacity: 0.8;height: 100%;}