<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kurniawan Footware
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

<!-- List of Text Items -->
<ion-list>
    <ion-item>
      <ion-label>Sepatu Formal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sepatu Sneakers</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sepatu Boots</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sandals</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
